body {
  background: #CAECFF;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
}

a {
  color: #2677FF;
}

a:hover {
  color: #333;
}

a[disabled] {
  color: gray;
  cursor: default;
}

form#signout {
  display: inline;
}

input[type="text"],
input[type="password"] {
  background: white;
  border: 1px solid #BFE6FF;
  padding: 2px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #1057FF;
}

input[type="submit"] {
  background: #1057FF;
  border: 1px solid #073BFF;
  padding: 1px 3px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: bold;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: white;
}

div.page {
  background: white;
  border: 1px solid #6ECCFF;
  max-width: 904px;
  margin: 48px auto;
  border-radius: 8px;
  overflow: hidden;
}

div.page h1 {
  background: #6ECCFF;
  margin: 0;
  padding: 10px 14px;
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
}

div.page div.navigation {
  padding: 6px 10px 0;
  background-color: #6ECCFF;
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  letter-spacing: .035em;
}

div.page div.navigation a {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
}

div.page h2 {
  margin: 0.5em 0 0.25em 0;
  color: #1057FF;
}

div.page div.body {
  padding: 12px;
}

div.page div.footer {
  background: #eee;
  color: #888;
  padding: 5px 10px;
  font-size: 12px;
}

/**
 * The styling of a Message with an ERROR type.
 */
div.ERROR {
  margin: 10px 0;
  background: #FAE4E4;
  border: 1px solid #DD6F6F;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

/**
 * The styling of a Message with an INFO type.
 */
div.INFO {
  margin: 0 0 12px 0;
  background: #CAECFF;
  filter: brightness(115%);
  border: 1px solid #6ECCFF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 8px;
  font-size: 13px;
  font-weight: 600;
  color: #003474;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

/**
* Styling of the Sign In page
 */
#username__entry {
  margin: 0 0 12px 0;
  display: flex;
  flex-direction: column;
}

#username__entry #name-label {
  margin: 0 0 4px 0;
}

#username__entry #name {
  border: 1px solid rgba(0, 0, 0, .38);
  border-radius: 4px;
  padding: 8px;
  min-height: 12px;
}


.button {
  font-weight: 500;
  text-decoration: none;
  padding: 0 8px 0 8px;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  min-height: 36px;
  border: none;
  outline: none;
  vertical-align: middle;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .08);
}

.nav-button {
  padding: 8px;
  min-width: 0;
  min-height: 0;
  border-radius: 6px 6px 0 0;
  background-color: rgba(0, 0, 0, 0.06);
}

.button:not(:last-of-type) {
  margin-right: 8px;
}

.nav-button:not(:last-of-type), .nav-button:not(:last-child) {
  margin-right: 4px;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(121, 205, 255, 0.6);
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

button.player {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
}

button.game {
  background-color: #fff1f1;
  width: 100px;
  margin: 10px;
}


